/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(base78.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/triggers3.png);
}

.ds4.white .bumper {
    background-image: url(ps4-white-assets/bumper3.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svgz);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ps4-white-assets/start3.png);
}

.ds4.white .button {
    background-image: url(face3.png);
}

.ds4.white .stick {
    background-image: url(sticks3.png);
}

.ds4.white .face {
    background-image: url(dpad3.png);
}

/*END PS4 White Controller Styling*/